<h1> Testing linked models</h1>

<p><%= @note.title %></p>
<p><%= @note.content %></p>
<p><%= @note.category_id %> :<%= @note.category.category %></p>
<p><%= @note.user_id %> : <%= @note.user.name %> </p>